<div class="container">
    <h2 class="text-center">Educación</h2>
    <ul>
      <li *ngFor="let educacion of educaciones">
        <div class="school-logo">
          <img [src]="educacion.logo" alt="Logo de la institución" class="logo">
        </div>
        <div class="education-info">
          <h3>{{educacion.nombre}}</h3>
          <p>{{educacion.institucion}} | Año de graduación: {{educacion.fecha}}</p>
        </div>
        <div class="education-actions">
          <button class="btn btn-primary" (click)="editarEducacion(educacion)">Editar</button>
          <button class="btn btn-danger" (click)="eliminarEducacion(educacion.id)">Eliminar</button>
        </div>
      </li>
    </ul>

  
    <div *ngIf="editando">
      <h3>Editar educación</h3>
      <form (ngSubmit)="guardarEducacion()">
        <div class="form-group">
          <label for="nombreEducacion">Nombre:</label>
          <input type="text" class="form-control" id="nombreEducacion" [(ngModel)]="nombreEducacion" name="nombreEducacion">
        </div>
        <div class="form-group">
          <label for="institucionEducacion">Institución:</label>
          <input type="text" class="form-control" id="institucionEducacion" [(ngModel)]="institucionEducacion" name="institucionEducacion">
        </div>
        <div class="form-group">
          <label for="fechaEducacion">Fecha:</label>
          <input type="text" class="form-control" id="fechaEducacion" [(ngModel)]="fechaEducacion" name="fechaEducacion">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
      </form>
    </div>
  </div>