<h2>Educación</h2>
  <ul>
    <li>
      <div class="school-logo">
        <img src="assets/img/manuelbelgrano480.jpg.png" alt="Logo de la institución">
      </div>
      <div class="education-info">
        <h3>Técnico en informática profesional y personal</h3>
        <p>E.E.T.P. N°480 "Manuel Belgrano | Año de graduación: 2021</p>
      </div>
    </li>
    <li>
      <div class="escuela-logo">
        <img src="assets/img/domingosilva.jpg" alt="Logo de la institución">
      </div>
      <div class="education-info">
        <h3> Técnico Superior en Desarrollo de Software</h3>
        <p>Escuela Normal Superior y Superior de Comercio Nro 46 Domingo Guzmán Silva| Cursando el 1er año: 2023</p>
      </div>
    </li>
  </ul>