<h2>Proyectos</h2>

<div class="project-grid">

  <div class="card project-card" *ngFor="let proyecto of proyectos">

    <img class="card-img-top" [src]="proyecto.imagen" alt="Card image cap" (click)="editarProyecto(proyecto)" *ngIf="editingProyecto == null">

    <div class="card-body" *ngIf="editingProyecto == null">

      <h5 class="card-title">{{ proyecto.titulo }}</h5>
      <p class="card-text">{{ proyecto.descripcion }}</p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="editarProyecto(proyecto)">Editar</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="eliminarProyecto(proyecto)">Eliminar</button>
        </div>
        <button type="button" class="btn btn-sm btn-primary" (click)="seleccionarArchivo(proyecto)">Seleccionar archivo</button>
      </div>

    </div>

    <div class="card-body" *ngIf="editingProyecto == proyecto">

      <div class="form-group">
        <label for="imagen">Imagen:</label>
        <input type="file" class="form-control-file" id="imagen" (change)="cambiarImagen($event, proyecto)">
      </div>

      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" [(ngModel)]="proyecto.titulo">
      </div>

      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea class="form-control" id="descripcion" rows="3" [(ngModel)]="proyecto.descripcion"></textarea>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <button type="button" class="btn btn-sm btn-danger" (click)="cancelarEdicion()">Cancelar</button>
        <button type="button" class="btn btn-sm btn-success" (click)="guardarProyecto()">Guardar</button>
      </div>

    </div>
    
  </div>
  
</div>
